<div>
    <div id="filter_pane" class="filter_pane">
      <button id="filter_title_button" class="filter_title_button">
        Filter
        <span id="filter_title_icon" class="fas fa-caret-up filter_title_icon"></span>
      </button>
      <div id="filter_body" class="filter_body">
        <div style="width: 100%">
          <button id="filter_reset_button">Reset</button>
          <div style="clear: both;"></div>
        </div>
        <form id="filter_form" class="filter_form">
        </form>
        <button id="form_add_button" style="margin: 5px 0px 10px 5px">Add filter</button>
        <div id="filter_chart_wrapper">
          <div id="filter_chart" class="filter_chart"></div>
          <div style="clear: both;"></div>
        </div>      
        <script>
          $( '#form_add_button' ).click( jpost.addForm );
          $( '#filter_reset_button' ).click( jpost.resetFilters );
        </script>
      </div>    
    </div>
    <script>
      jpost.prepareFilter();
      jpost.addForm(2);
  </script>
  </div>
