<div>
    <div id="filter_pane" class="filter_pane">
      <button id="filter_title_button" class="filter_title_button">
        Filter
        <span id="filter_title_icon" class="fas fa-caret-up filter_title_icon"></span>
      </button>
      <div id="filter_body" class="filter_body">
        <form id="filter_form" class="filter_form">
        </form>
        <button id="form_add_button" style="width: 50px">+</button>
        <div id="filter_chart_wrapper">
          <div id="filter_chart" class="filter_chart"></div>
          <div style="clear: both;"></div>
        </div>      
        <script>
          $( '#form_add_button' ).click( jpost.addForm );
        </script>
      </div>    
    </div>
    <script>
      jpost.prepareFilter();
      jpost.addForm();
    </script>
  </div>