<head>
    <title>jPOST database</title>
    <meta http-equiv="Content-Type" content="text/html; charsert=utf-8" />
    <link href="css/all.css" rel="stylesheet">    
    <link href="css/select2.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="css/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="css/jquery.resizableColumns.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/jpost.css" rel="stylesheet">
    <link href="images/icon.png" rel="shortcut icon" />
    <link href="images/icon.png" rel="icon" sizes="192x192" />
    <script src="//tools.jpostdb.org/ts/stanza/assets/components/handlebars/dist/handlebars.min.js"></script>
    <script src="//tools.jpostdb.org/assets/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="//tools.jpostdb.org/assets/js/stanza/jpostdb.js" charset="utf-8"></script>
    <script src="//tools.jpostdb.org/assets/js/stanza/jpostdb.utils.js" charset="utf-8"></script>
    <script src="//tools.jpostdb.org/assets/js/stanza/jpostdb.stat_pie_chart.js" charset="utf-8"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.resizableColumns.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/jpost.js"></script>
    <script src="js/jpost-global.js"></script>
    <script src="js/jpost-slice.js"></script>
  </head>
