<head>
    <title>jPOST database</title>
    <meta http-equiv="Content-Type" content="text/html; charsert=utf-8" />
    <link href="css/all.css" rel="stylesheet">    
    <link href="css/select2.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="css/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="css/jquery.resizableColumns.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">
    <link href="css/jpost.css" rel="stylesheet">
    <link href="images/icon.png" rel="shortcut icon" />
    <link href="images/icon.png" rel="icon" sizes="192x192" />
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.resizableColumns.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/table.js"></script>
    <script src="js/jpost.js"></script>
    <script src="js/jpost-columns.js"></script>
    <script src="js/jpost-global.js"></script>
    <script src="js/jpost-slice.js"></script>
    <script src="https://cdn.jsdelivr.net/combine/npm/@babel/polyfill@7.2.5/dist/polyfill.min.js,npm/@ungap/url-search-params@0.1.2/min.js,npm/whatwg-fetch@3.0.0/dist/fetch.umd.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@1.3.0/webcomponents-loader.js" crossorigin></script>
    <link href="https://tools.jpostdb.org/ts/stanza/slice_comparison/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/stat_pie_chart/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/table_slice/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/chromosome_histogram/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/protein_evidence/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/kegg_mapping_form/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/protein_browser/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/proteoform_browser/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/go_count/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/table_dataset/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/table_peptide/" rel="import">
    <link href="https://tools.jpostdb.org/ts/stanza/table_protein/" rel="import"> 
  </head>
  <body>

  </head>
